/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* CHANGES DOC TO BOX MODEL */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  width: 100vw;
/*
  background: url(../images/clouds-n.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: bg-clouds 10s infinite;
*/
}
.clouds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: bg-clouds 65s linear infinite;
  z-index: -9999999;
}

@keyframes bg-clouds {
  
  0% {
    transform: scale(1);
  }
    50% {
    transform: scale(1.5);
  }
    100% {
    transform: scale(1);
  }
}


/*
  _______  ____   _____  
 |__   __|/ __ \ |  __ \ 
    | |  | |  | || |__) |
    | |  | |  | ||  ___/ 
    | |  | |__| || |     
    |_|   \____/ |_|     
*/

/*#region*/

.top-section {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.curtains-container {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 999999999999999999; 
}


.frame-curtain {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100vw;
  max-height: 201px;
  -webkit-filter: drop-shadow(6px 6px 7px rgb(0, 0, 0, .7));
  filter: drop-shadow(6px 6px 7px rgb(0, 0, 0, .7)) brightness(.7);
  z-index: 999999999999999999999999;
}

.left-main-curtain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-filter: drop-shadow(6px 6px 9px rgb(0, 0, 0, .5));
  filter: drop-shadow(6px 6px 9px rgb(0, 0, 0, .7)) brightness(.7);
  z-index: 999999;
}

.right-main-curtain {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  -webkit-filter: drop-shadow(6px 6px 17px rgb(0, 0, 0, .5));
  filter: drop-shadow(6px 6px 17px rgb(0, 0, 0, 2)) brightness(.7);
  z-index: 999999;
}

.ride {
  position: absolute;
  bottom: 32px;
  z-index: 999997;
  animation: ridearound linear 5s forwards;
}

.head {
  position: absolute;
  bottom: 302px;
  left: 28%;
  animation: head ease 3s infinite;
}

.arm {
  position: absolute;
  bottom: 300px;
  left: 49%;
  animation: wave ease 1s infinite;
  transform: rotate(-5deg);
  transform-origin: 0px 100px;
  z-index: -1;

}

.front-wheel {
  position: absolute;
  left: 312px;
  top: 295px;
  z-index: -1;
  animation: spin linear 5s infinite;
}

.back-wheel {
  position: absolute;
  left: 10px;
  top: 300px;
  z-index: -1;
  animation: spin linear 5s infinite;
}

@keyframes head {
  0% {
    right: 100%;
    opacity: 1;
  }

  50% {
    right: 100%;
    transform: rotate(12deg);
    opacity: 1;
  }

  100% {
    right: -150%;
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    right: 100%;
    opacity: 1;
  }

  50% {
    right: 100%;
    transform: rotate(7deg);
    opacity: 1;
  }

  100% {
    right: -150%;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.center-curtains-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 93vh;
  z-index: 99996;
  filter: brightness(.8);
  animation: moveleft ease 4s forwards;
  animation-delay: 4.25s;
}


.center-curtains-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 93vh;
  z-index: 99996;
  filter: brightness(.8);
  animation: moveright ease 4s forwards;
  animation-delay: 4.25s;
}


@keyframes ridearound {
  0% {
    right: 100%;
    opacity: 1;
  }

  99.5% {
    right: -50%;
    opacity: 1;
  }
    100% {
    opacity: 0;
    display: none;
  }
}


@keyframes moveleft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}


@keyframes moveright {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

   99.5% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}


/*Drop Title Bounce Animation*/

/*#region*/

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/*#endregion*/


.title {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  top: 16vh;
  z-index: 999;
  width: 60vh;
  max-width: 502px;
  filter: brightness(.9);
  z-index: 1;
  animation: bounce-in-top 1.1s both;
  animation-delay: 6.5s;
}


.circle-frame-container {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  top: 36vh;
  width: 30vw;
  height: 55vh;
  max-width: 512px;
  max-height: 43%;
}

.circle-frame {
  position: absolute;
  margin-top: -29px;
    -webkit-filter: drop-shadow(2px 4px 10px rgb(0, 0, 0, .8));
  filter: drop-shadow(2px 4px 10px rgb(0, 0, 0, .8));
  width: auto;
  height: 55vh;
/*  max-height: 521px;*/
}

.circle-back {
  position: absolute;
  width: auto;
  height: 48vh;
}

.circle-rays {
  position: absolute;
  animation: swirl 60s linear infinite;
  width: auto;
  height: 48vh;
  
}

@keyframes swirl {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.brian-pointing {
  position: absolute;
  height: auto;
  margin-top: -23vh;
  margin-left: -3%;
  filter: brightness(.83);
  height: 90vh;
  animation: zoom 1.5s ease forwards;
  animation-delay: 8s;
  opacity: 0;
  z-index: 2;
}

@keyframes zoom {
  0% {
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    transform: scale(.55);
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: -19vh;
  z-index: 99999;
  opacity: 0;
  height: 10vh;
  max-height: 100px;
}


/* Arrow Blink Code */
/*#region*/
.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
  animation-delay: 11s;
  animation-iteration-count: 2;
}


@-webkit-keyframes blink-1 {
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  0%,
  25%,
  75% {
    opacity: 0;
  }
}

/*#endregion*/




/*
   _____ _______ _____   ____  _   _  _____ 
  / ____|__   __|  __ \ / __ \| \ | |/ ____|
 | (___    | |  | |__) | |  | |  \| | |  __ 
  \___ \   | |  |  _  /| |  | | . ` | | |_ |
  ____) |  | |  | | \ \| |__| | |\  | |__| |
 |_____/   |_|  |_|  \_\\____/|_| \_|\_____|
                                            
                                            
*/

.floor-top {
  position: absolute;
  background-image: url(../images/floor.jpg);
  height: 164px;
  width: 100vw;
  background-repeat: repeat-x;
  bottom: -4.5em;
  animation: fall 1s ease forwards;
  animation-delay: 5s;
}


@keyframes fall {
  0% {
    bottom: 0;
  }
  
   50% {
    bottom: -15em;
  }

  100% {
    bottom: -16em;
    opacity: 0;
  }
}

/* CROWN BOTTLE FALL SECTION*/
/*#region*/

.crown-section {
  position: absolute;
  width: 100vw;
  top: -5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.crown-section > :nth-of-type(1) {
  position: relative;
  left: -17%;
  animation: crown-drop 6s forwards;
  animation-delay: 9s;
}

.crown-section > :nth-of-type(2) {
  position: relative;
  left:17%;
  animation: crown-drop 6s forwards;
  animation-delay: 9.3s;
}

.crown-section > :nth-of-type(3) {
  position: relative;
  left:-17%;
  animation: crown-drop 6s forwards;
  animation-delay: 9.5s;
}


@keyframes crown-drop {
  0% {
    top: -5em;
  }
   50% {
    opacity: 1;
  }

  100% {
    top: 114em;
    opacity: 0;
  }
}
/*#endregion*/

.strong-section {
  position: relative;
  margin-top: 100vh;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-image: url(../images/night.jpg);
}

.stand {
  position: absolute;
  z-index: 2;
  left: 49.5%;
  transform: translateX(-50%);
  bottom: 3vh;
  height: 15vh;
}


.crown-to-hold-1 {
  position: absolute;
  bottom: 69vh;
  left:40.5vw;
}

.crown-to-hold-2 {
  position: absolute;
  bottom: 70.5vh;
  left: 56.2vw;
}



.strongman {
  position: absolute;
  left: 50.7%;
  transform: translateX(-50%);
  z-index: 9;
  height: 60vh;
  max-height: 635px;
  bottom: 15vh;
}


.floor {
  position: absolute;
  background-image: url(../images/floor.jpg);
  height: 164px;
  width: 100vw;
  background-repeat: repeat-x;
  bottom: 0;
}


/*
  ______ _____  ______          _  __
 |  ____|  __ \|  ____|   /\   | |/ /
 | |__  | |__) | |__     /  \  | ' / 
 |  __| |  _  /|  __|   / /\ \ |  <  
 | |    | | \ \| |____ / ____ \| . \ 
 |_|    |_|  \_\______/_/    \_\_|\_\
                                     
                                     
*/




.neon {
  font-size: calc(20px + 11vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Rye", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}




/*
  __  __  ______  _____  _____           
 |  \/  ||  ____||  __ \|_   _|    /\    
 | \  / || |__   | |  | | | |     /  \   
 | |\/| ||  __|  | |  | | | |    / /\ \  
 | |  | || |____ | |__| |_| |_  / ____ \ 
 |_|  |_||______||_____/|_____|/_/    \_\
                                         
                                                                                    
*/



/*
@media screen and (max-width: 1100px) {


  .center-curtains-left {
    height: 85vh;
  }


  .center-curtains-right {
    height: 85vh;
  }

}
*/



@media screen and (max-width: 650px) {


  .frame-curtain {
    top: 0px;
    left: 0px;
  }

  .left-main-curtain {
    left: -200px;
  }

  .right-main-curtain {
    right: -200px;
    ;
  }

  .monkey-1 {
    display: none;
  }

  
  
  
  
  
  
  
}
