/* RESET STYLES */
* {
margin: 0;
padding: 0;
text-align: center;
}

/* CHANGES DOC TO BOX MODEL */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
    overflow-x: hidden;
}



.frame-curtain {
 position: absolute;
    top: 0;
    left: -28px;
    width: 103vw;
    height: 104vh;
    z-index: 999999999999;
}


.brick {
    background-image: url(/images/brick.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
}

.frame {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 410px;
    z-index: 99995;
}



#myVideo {
    position: absolute;
    top: 34.3%;
    left: 49%;
    transform: translateX(-50%);
    width: 330px;
    height: 
}



.bike {
    position: absolute;
    bottom: -50px;
    z-index: 999997;
    transform: scaleX(-1);
    animation: ridearound ease 9s forwards;
}

.center-curtains-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 102vh;
    z-index: 99995;
    animation: moveleft ease 5s forwards;
    animation-delay: 5s;
}


.center-curtains-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 102vh;
    z-index: 99995;
    animation: moveright ease 5s forwards;
    animation-delay: 5s;
}


@keyframes ridearound {
    0% {
        right: 100%;
        opacity: 1;
    }

    100% {
        right: -130%;
        opacity: 1;
    }
}


@keyframes moveleft {
    0% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 1;
    }
}


@keyframes moveright {
    0% {
        right: 0;
        opacity: 1;
    }

    100% {
        right: -100%;
        opacity: 1;
    }
}


.monkey-1 {
    position: absolute;
    left: -30px;
    top: 55vh;
    opacity: 0;
    transform: rotate(35deg);
    animation: curtainmonkey ease 2s forwards;
    animation-delay: 7.5s;
}


@keyframes curtainmonkey {
    0% {
        left: -100px;
        top: 57vh;
        opacity: 1;
    }
    
    50% {
        left: -80px;
        top: 57vh;
        opacity: 1;
    }

    100% {
        right: -35px;
        top: 55vh;
        opacity: 1;
    }
}


h1 {
    font-family: 'Shrikhand', cursive;
    position: absolute;
    font-size: 5.1vw;
    color: #514339;
    mix-blend-mode: screen;
    opacity: .7;
    z-index: 999;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
